{% extends 'base.html.twig' %}

{% block title %}Neato!{% endblock %}

{% block body %}

<div class="wrapper">
    <h2>{% if category.parent is not null %}<a href="{{ path('app_category', {slug: category.parent.slug}) }}">{{ category.parent.title}}</a> &gt; {% endif %}{{ category.title }}</h2>
    <hr>
</div>

{% if category.children is not empty %}
<div class="wrapper">

    <ul>
    {% for child in category.children %}

    <li><a href="{{ path('app_category', {slug: child.slug}) }}"><b>{{ child.title }}</b></a></li>

    {% endfor %}
    </ul>

    {% if category.children is not empty and category.links is not empty %}
    <hr>
    {% endif %}

</div>
{% endif %}



{% if category.links is not empty %}
<div class="wrapper">

    <ul>
    {% for link in category.links %}

    {% if link.approved %}
        <li><a href="{{ link.url }}">{{ link.title }}</a> - {{ link.comment }}</li>
    {% endif %}

    {% endfor %}

</div>
{% endif %}

{% endblock %}

