{% extends 'base.html.twig' %}

{% block title %}Neato!{% endblock %}

{% block body %}

<div class="wrapper">

    <h2><a href="{{ path('app_news') }}">News</a> &gt; {{ title }}</h2>

    <hr>

</div>

{% if items is not empty %}
<div class="wrapper">
    <table>

    {% for item in items %}
    <tr>
        <td>
            {% if item.get_enclosure().get_thumbnail() is defined %}
            {% set img_url = path('app_proxy_image') ~ '?url=' ~ item.get_enclosure().get_thumbnail()|url_encode %}
            {% else %}
            {% set img_url = asset( 'images/news-thumb.png' ) %}
            {% endif %}
            <img width="144" height="108" src="{{ img_url }}">
        </td>
        <td>
            <b><a href="{{ item.get_permalink() }}">{{ item.get_title() }}</a></b>
            <div class="datetime">{{ item.get_date() }}</div>
            <p>{{ item.get_description()|striptags }}</p>
        </td>
    </tr>
    {% endfor %}
    
    </table>
</div>
{% endif %}

{% endblock %}

